$white: #ffffff;
$mineShaft: #333333;
$doveGrey : #666666;
$dustyGray: #999999;
$gallery: #EAEAEA;
$wildSand: #f6f6f6;
$crusta: #FF862F;
$straw: #D5B986;
$mediumPurple: #A65CF0;
$purpleHeart: #7033AC;
$mauve: #C998FB;
$blueChalk: #EBD1FF;
$magnolia: #F8EFFF;