.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}

#map {
	width: 1340px;
	height: 728px;
}

.ymaps-2-1-79-_hidden-text,
.ymaps-2-1-79-zoom {
  opacity: 0;
}

.ymaps-2-1-79-search {
  display: inline-block;
}
